.cb_customselect_span{
	background: none repeat scroll 0 0 #fff;
	float: left;
	left: 0;
	margin-right: 10px;
	margin-top: 4px;
	overflow: hidden;
	width: 117px;
}
.cb_customselect_span>span{
	background: url("./images/selectlabg.jpg") no-repeat scroll 100px 16px rgba(0, 0, 0, 0);
	border: 1px solid #e6e6e6;
	color: #666;
	cursor: pointer;
	display: block;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	margin-bottom: 0px;
	padding: 3px 20px 3px 10px;
	text-align: left;
}
.cb_customselect_span>ul{
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #e6e6e6;
	overflow-x:hidden;
	overflow-y:auto;
	max-height: 200px;
	padding: 0;
	margin: 0;
}
.cb_customselect_span>ul>li{
	cursor: pointer;
	line-height: 24px;
	padding: 9px 0 9px 20px;
	list-style: none;
	margin: 0;
	font-size: 12px;
}
.cb_customselect_span>ul>li:hover{
	background: none repeat scroll 0 0 #22c063;
	color: #fff;
}
